#navbar-menu {
  background: transparent;
  overflow: hidden;
}

#navbar-menu.show {
  margin-top: 15px;
  transition: margin-top 0.25s ease-in !important;
}

#navbar-menu.show a {
  margin-right: 10px;
  transition: margin-right 0.25s ease-in !important;
}

#navbar-menu, #navbar-menu a {
  transition: 0.1s ease-in !important;
}

header:not(.navbar_fixed) #navbar-menu.show a {
  color: white;
  border-color: white;
  background: transparent;
}

header:not(.navbar_fixed) #navbar-menu.show a:hover {
  color: #3d64f4;
  border-color: white;
  background-color: white;
}

header:not(.navbar_fixed) #to-the-top {
  display: none;
}

section.software_featured_area {
  padding-top: 120px;
  padding-bottom: 120px;
}

section.developer_product_area {
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer_bottom ul {
  text-align: right;
  list-style-position: inside;
}

footer .footer_top {
  border-width: 0;
}

footer .footer_top,
footer .footer_bottom {
  background-color: #3033b0;
}

#current-year {
  padding: 0;
}

.footer-link {
  color: white !important;
}

.footer-link:hover {
  color: #99ccff !important;
  transition: color 0.2s ease-in !important;
}

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  000% { transform: translate(1px, 1px) rotate(0deg); }
  010% { transform: translate(-1px, -2px) rotate(-1deg); }
  020% { transform: translate(-3px, 0px) rotate(1deg); }
  030% { transform: translate(3px, 2px) rotate(0deg); }
  040% { transform: translate(1px, -1px) rotate(1deg); }
  050% { transform: translate(-1px, 2px) rotate(-1deg); }
  060% { transform: translate(-3px, 1px) rotate(0deg); }
  070% { transform: translate(3px, 1px) rotate(-1deg); }
  080% { transform: translate(-1px, -1px) rotate(1deg); }
  090% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
