body {
    font-family: "Roboto", sans-serif;
}

nav div.container-fluid:first-of-type {
    width: 80%;
}

#logo {
    box-sizing: border-box;
    width: 30px;
    margin: 0px 5px 1px 0px;
}

body div.container div.jumbotron:first-of-type {
    margin-top: 100px;
}

#soon {
    text-align: center;
}

#clue {
    margin-left: 25px;
    color: #FFFFFF;
}