body {
    font-family: "Raleway", sans-serif;
    background: #121212;
}

h1 {
    font-weight: 400;
    margin-top: 0px;
    color: #121212;
}

.custom-container-sm {
    background: #FFFFFF;
    color: #F4F4F4;
    width: 15%;
    margin: 100px auto 0px auto;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
}

.custom-container-lg {
    background: #F4F4F4;
    width: 35%;
    height: 300px;
    margin: 100px auto 0px auto;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 100px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 1em;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #343A40;
    border-color: #343A40;
}
  
button:hover {
    color: #FFFFFF;
    background-color: #23272B;
    border-color: #1D2124;
}
  
button:focus {
    box-shadow: none !important;
}

.custom-footer {
    bottom: 0px !important;
    position: fixed !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    color: #FFFFFF !important;
    text-align: center !important;
}

.custom-footer p {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.custom-footer a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}