@import url("karbon.css");
@import url("timeline.css");
body {
    font-family: "Karbon-Regular", sans-serif;
    overflow-y: scroll;
}

nav div.container-fluid:first-of-type {
    width: 80%;
    box-sizing: border-box;
}

.navbar-brand {
    padding: 0px;
    height: 38px;
}

#logo {
    box-sizing: border-box;
    height: 38px;
}

#description {
    color: #ffffff;
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: -30px;
}

body div.container div.jumbotron:first-of-type {
    margin-top: 100px;
    padding: 50px 75px;
}

#jumbotron-content {
    text-align: center;
    font-size: 1.2rem;
}

#jumbotron-content p:last-of-type {
    margin-bottom: 0px;
}

.navbar.fixed-bottom div p {
    margin: 8px 0px 8px 0px;
}